body {
  background: red;
}
.missionstatement {
  position: absolute;
  top: 35%;
  left: 3%;
  width: 45%;
}
.buttons {
  background: #001a33;
  border: solid gold;
  position: absolute;
  bottom: 1%;
  right: 45%;
  width: 10%;
}
.Text1 img {
  width: 100%;
  height: auto;
}
.hfeatures {
  text-align: center;
}
.Features {
  color: black;
  background: white;
  display: flex;
}
.Features .featurestext {
  width: 28%;
}
.Features .Features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.Features .Features img .featurestext2 {
  width: 50%;
}
footer {
  padding: 2%;
}
footer .footera {
  display: flex;
  justify-content: space-evenly;
}
footer .footera .Copyright {
  text-align: center;
}
@media (max-width: 800px) {
  .test {
    width: 1000px;
  }
  header {
    text-align: center;
    flex-direction: column;
  }
  header header nav {
    display: flex;
    flex-direction: column;
  }
  .missionstatement {
    position: absolute;
    top: 60%;
    width: 100%;
  }
  .buttons {
    text-align: center;
    bottom: -25%;
    right: 5%;
    width: 50%;
  }
}
.Features img {
  width: 40%;
}
.footera {
  flex-direction: column;
  text-align: center;
}
@media (max-width: 500px) {
  .buttons {
    left: 85%;
  }
}
