// //Sizing
// top: 35%;
// left: 3%;
// width: 45%;

// // Colors
 @skybluey: #66e0ff;
 @bgdarkbluey: #001a33;
 @blackey: black;
 @whitey: white;
 @bluevio: blueviolet;
 @goldey: gold;
 

// // Media Query
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";

a{
	.textdeco();      
	color:@skybluey; 
}


